<div class="card mb-3 p-0 shadow-sm h-100"
     role="button"
     data-bs-toggle="modal"
     data-bs-target="#bookModal"
     data-book="{{ v_book.to_json() }}">

    <div class="row g-0 h-100 align-items-stretch">
        <div class="col-4 d-flex">
            {% if v_book.thumbnail %}
                <img
                        src="{{ v_book.thumbnail }}"
                        class="img-fluid rounded-start h-100 w-100 object-fit-cover"
                        alt="{{ v_book.title }}"
                >
            {% else %}
                <img
                        src="{{ url_for('static', filename='images/empty_cover.png') }}"
                        class="img-fluid rounded-start h-100 w-100 object-fit-cover"
                        alt="No cover"
                >
            {% endif %}
        </div>

        <div class="col-8 col-sm-9 col-md-8">
            <div class="card-body py-2 px-3">
                <h6 class="card-title mb-1 text-truncate">
                    {{ v_book.title }}
                </h6>

                <p class="card-text text-muted small mb-0 text-truncate">
                    By {{ v_book.author }}
                </p>
            </div>
        </div>
    </div>
</div>
