{#<form method="POST">#}
{#    <input type="text" name="username" placeholder="Username" required>#}
{#    <input type="password" name="password" placeholder="Password" required>#}
{#    <button type="submit">Register</button>#}
{#</form>#}
{##}
{#<div class="modal fade" id="registerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"#}
{#     aria-labelledby="registerModalLabel" aria-hidden="true">#}
{#    <div class="modal-dialog">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <h5 class="modal-title" id="registerModalLabel">Register</h5>#}
{#                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#            </div>#}
{#            <div class="modal-body">#}
{#                <form method="POST" action="{{ url_for('auth.register') }}">#}
{#                    <input type="text" name="username" placeholder="Username" required>#}
{#                    <input type="password" name="password" placeholder="Password" required>#}
{#                    <input type="password" name="re-type-password" placeholder="Re-type password" required>#}
{#                    <button type="submit">Register</button>#}
{#                </form>#}
{#                <a href="{{ url_for('auth.register') }}">Create User</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

