<!doctype html>
{% extends "layout.html" %}
{% block content %}
    <div class="container" style="height: 100%">
        <div class="row justify-content-start input-group mt-2">
            <div class="col-4">
                <input type="search" id="search-box" name="q" class="form-control" placeholder="Search...">
            </div>
            <div class="col-4">
                <button class="btn btn-secondary" type="submit" id="search-btn">Search</button>
            </div>
        </div>
        <div class="container bg-light overflow-y-auto mt-2"
             style="height: 86vh" id="results">
            {% include 'layout/book-grid.html' %}
        </div>
        {% include 'content/book-modal.html' %}

    </div>

    <script>
        document.getElementById("search-btn").addEventListener("click", function () {
            $results = document.getElementById("results")
            $results.innerHTML = `
             <div class="d-flex h-100 justify-content-center align-items-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
             `
            let query = document.getElementById("search-box").value;
            fetch(`/update-catalog?q=${encodeURIComponent(query)}`)
                .then(response => response.text())
                .then(html => {
                    $results.innerHTML = html;
                });
        });

        // optional: live search as you type
        document.getElementById("search-box").addEventListener("keyup", function (e) {
            if (e.key === "Enter") document.getElementById("search-btn").click();
        });
    </script>
{% endblock %}